AWS_PROFILE=""
SES_EMAIL_FROM=""

# Cloudformation generated value
MEALS_CDN_DOMAIN_NAME=""

OPENAI_API_KEY=""

# only production
WEB_APP_ORIGIN=""

# Env vars for running local tests
API_URL=""
TOKEN=""

